<div class="main">

 <h2 class='sign' align="center">About:</h2>
   <h3 class="message">
     This application is hosted by:
     <p><em>Viajandantes<em></p>
     Any questions, concerns:
     <br>
     <button type="button" class="message-btn"><a href="/contact">Contact Us</a></button>
  </h3>
  </div>
