<div class="main-form">

 <h2 class='sign' align="center">Viajandates</h2>

  <div class="message">
    <button type="button" class="message-btn"><a href="http://www.viajandantes.com">Visit out Site</a></button>
    <button type="button" class="message-btn"><a href="mailto:viajandantes@gmail.com" target="_top">Send us an email</a></button>

  </div>

  </div>
